* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.clearfix::after {
content: "";
display: block;
clear: both;
}

main{
	margin: 50px auto;
	width: 960px;
}

.step{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FF9A4B;
	color: #fff;
	padding: 3px;
}

.title{
    margin: 15px 0 5px;
}

.text{

}

.box-1{
	background-color: white;
	width: 300px;
	padding: 10px;
	border: 1px solid #eee;
	float: left;
	margin-right: 30px;
	position: relative;
}

.step-img1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
}

.box-2{
	background-color: white;
	width: 300px;
	padding: 10px;
	border: 1px solid #eee;
	float: left;
	margin-right: 30px;
	position: relative;
}

.step-img2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
}

.box-3{
	background-color: white;
	width: 300px;
	padding: 10px;
	border: 1px solid #eee;
	float: left;
	position: relative;
}

.step-img3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
}

@media screen and (max-width:768px) {
    main{
    	width: 100%;
    }
    .box-1{
    	margin: 0 auto;
    	float: none;
	}
    .box-2{
		margin: 20px auto 20px auto;
		float: none;
	}
	.box-3{
		margin: 0 auto;
		float: none;
	}
}